/* Text */
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 72px;
}
h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
    font-size: 36pt;
    padding: 10px;
}
.content{
    display: flex;
    align-items: top;
    justify-content:space-around;
    margin-top: 40px;
}
.introText{
    font-family: 'Spartan' , sans-serif !important;
    font-weight: 500;
}
.customNav{
    background-color: #FF5E58 !important;
    font-family: 'Spartan' , sans-serif;
    height: 74px;
    z-index: 10;
}
.nav-link{
    color: white !important;
    font-family: 'Spartan' , sans-serif !important;
}
li{
    margin: 20px 20px;
    justify-content: space-around;
}
.containerGrid{
    font-size: 21pt;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin: 60px;
    padding: 50px;
}
.projectSummary{
    margin: 20px;
}
.text{
    font-family: 'Spartan' , sans-serif !important;
    font-weight: 100;
    font-size: 14pt;
}
.jumbotron1{
    background-color: #EAE9E4;
    height: 792px;
}
.summary{
    display: flex;
    justify-content: space-around;
}
.summary p{
    font-family: 'Spartan' , sans-serif !important;
    font-weight: 100;
    font-size: 14pt;
}
.container-fluid img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.introduction{
    display: flex !important;
}
.list-group{
    width: 50%;
    justify-content: space-around;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.list-group-item{
    font-size: 21pt;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: black;
}

.image-fluid{
    float: right;
}
.container{
    display: flex;
    justify-content: center;
    align-items: top;
}
.scrollspy-example{
    width: 100%;
    background-color: #FF9B97;
    padding: 50px 75px;
    line-height: 35px;
}

.list-group-description{
    font-family: 'Spartan' , sans-serif !important;
    font-weight: 100;
    font-size: 14pt;
}
h4{
    font-size: 21pt;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: black;
    display: block;
}
h5{
    font-family: 'Spartan' , sans-serif !important;
    font-weight: 400;
    font-size: 16pt;
}
p{
    font-family: 'Spartan' , sans-serif !important;
    font-weight: 100;
    font-size: 14pt;
    padding: 35px;
}
.scrollspy-example img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 35px;
    justify-content: center;
    align-items: center;
}
.mediaContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer{
    width: 100%;
    display: inline;
    align-items: center;
    justify-content: center;
}

.navbar-brand{
    font-family: 'Spartan' , sans-serif !important;
    color: white !important;
}
.fixed-bottom .custom {
    background-color: #FF5E58;
}

.dropdown-menu{
    background-color: #FF5E58;
}

.dropdown-item a{
    border: solid 3px red;
    color: white;
}
.navbar .container-fluid{
    background-color: #FF5E58;
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 0px 70px;
}